<main flex>
    <!--Titre du texte-->
    <div>
        <h3>{{corpus?.title}}</h3>
    </div>

    <!--Section du texts-->
    <div>
        <!--<textarea name="text">{{corpus?.text}}</textarea>-->
        {{corpus?.text}}
    </div>
<br/>
    <!--Section des boutons des catégories-->
    <div>
        <button (click)="Categoriser()">Catégorie test</button>
    </div>
<br/>
    <!--Section des boutons save et cancel-->
    <div>
        <button class="btn btn-primary" (click)="saveTextModification()">Save</button>
        <button class="btn btn btn-primary" [routerLink]="['']">Cancel</button>
    </div>
</main>