
#brat_element {
  position: relative;
  margin: auto;
  width: 80%;
  float: left;
}

#filter_element {
  position: relative;
  margin: auto;
  width: 20%;
  float: right;
  padding-left: 1%;
}

#button_element {
  overflow: hidden;
  bottom: 0;
  width: 100%;
}
