<div class="create-contact-container">

    <mat-card>
        <mat-card-header class="card-header-contact">
            <mat-card-title>
                <h2>Contact</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Pour toutes questions, suggestions ou remarques n’hésitez pas à contacter l'administrateur de
                système.
            </p>
            <a href="mailto:admin@email.com">
                E-mail: admin@email.com
            </a>

        </mat-card-content>
    </mat-card>


</div>