<div class="col-md-6 col-md-offset-3">
  <h2>Reset Password</h2>
  <form name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
      <label for="email">E-mail</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="userInfo.email" #email="ngModel" required />
      <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
	  <div *ngIf="f.submitted && emailInvalid()">{{errorMessage}}</div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Reset</button>
    </div>
  </form>
</div>
