<h2 mat-dialog-title>Add Event</h2>
<form #eventvalidate="ngForm">
<mat-form-field>
  <input matInput placeholder="Name" [(ngModel)]="data.name" name="nom" #nom="ngModel" required />
  <mat-error *ngIf="nom.value == '' || nom.value == null">nom obligatoire</mat-error>
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Type" [(ngModel)]="data.type" name="type" #type="ngModel" required />
  <mat-error *ngIf="type.value == '' || type.value == null">type obligatoire</mat-error>
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Labels" [(ngModel)]="data.labels" name="labels" #labels="ngModel" required />
  <mat-error *ngIf="labels.value == '' || labels.value == null">Étiquette obligatoire</mat-error>
</mat-form-field>

<mat-form-field>
  <input matInput placeholder="Attributs" [(ngModel)]="data.attributes" name="attributs" #attributs="ngModel" required />
  <mat-error *ngIf="attributs.value == '' || attributs.value == null">Attribut obligatoire</mat-error>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Color" [(ngModel)]="data.bgColor" name="couleur" #couleur="ngModel" required>
    <mat-option *ngFor="let item of availableColors" [value]="item">
      {{item}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="couleur.value == null">couleur obligatoire</mat-error>
</mat-form-field>

<mat-dialog-actions>
<button class="btn btn btn-primary" [disabled]="!eventvalidate.valid" [mat-dialog-close]="data">Add</button>
  <div style="width: 10px"></div>
  <button class="btn btn btn-primary" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
</form>