.mat-form-field {
  width: 100%;
}

.color-picker {
  width: 30px;
  height: 30px;
}

.form-color {
  padding: 2px 5px;
}

td {
  vertical-align: top;
}
/*

@media (max-width: 768px) {
  .col-xs-2 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col-xs-2 {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .col-xs-2 {
    width: 16.66666%;
  }
}
@media (min-width: 1200px) {
  .col-xs-2 {
    width: 16.66666%;
  }
}
*/
