<!-- Title -->
<h1>Event Types : </h1>

<!-- Event -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-1"><label for="new-type">Action:</label></div>
    <div class="col-xs-2"><label for="new-type">Type:</label></div>
    <div class="col-xs-2"><label for="new-type">Labels:</label></div>
    <div class="col-xs-1"><label for="new-type">Background:</label></div>
    <div class="col-xs-1"><label for="new-type">Border:</label></div>
    <div class="col-xs-5">
        <div class="col-xs-1"></div>
        <div class="col-xs-4"><label for="new-type">Arcs type:</label></div>
        <div class="col-xs-4"><label for="new-type">Arcs labels:</label></div>
        <div class="col-xs-3"><label for="new-type">Arcs color:</label></div>
    </div>
    <div class="col-xs-12" style="border-top: 1px solid darkgrey; margin-bottom: 15px;"></div>
  </div>
</div>

<!-- Input -->
<div class="container-fluid">
  <form class="row">
    <!-- Actions -->
    <div class="form-group col-xs-1">
        <button
        type="submit"
        class="btn btn-success"
        (click)="create()"
        [disabled]="eventData.error"
      >
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <button
        type="submit"
        class="btn btn-warning"
        (click)="reset()"
        style="margin-right: 2px;"
      >
        <span class="glyphicon glyphicon-refresh"></span>
      </button>
      <br />
      <small
        *ngIf="isValid(newEvent, eventData, -1)"
        class="form-text text-muted text-danger"
        >{{ eventData.message }}</small
      >
    </div>

    <!-- Type -->
    <div class="form-group col-xs-2">
      <input
        class="form-control"
        placeholder="ex : Assassination"
        [(ngModel)]="newEvent.type"
        name="type"
        #type="ngModel"
        required="true"
      />
      <small
        *ngIf="newEvent.type == '' || newEvent.type == null"
        class="form-text text-muted text-danger"
        >*Type is obligatory</small
      >
    </div>

    <!-- Labels -->
    <div class="form-group col-xs-2">
      <div>
        <table style="width: 100%;">
          <!-- Defined Labels -->
          <tr
            *ngFor="
              let label of newEvent.labels;
              let i = index;
              trackBy: trackBy
            "
          >
            <td>
                <button
                *ngIf="i == 0"
                type="submit"
                class="btn btn-success"
                (click)="addLabel(newEvent)"
                [disabled]="label == '' || label == null"
              >
                <span class="glyphicon glyphicon-plus"></span>
              </button>
              <button
                *ngIf="i > 0"
                type="submit"
                class="btn btn-danger"
                (click)="removeLabel(newEvent, i)"
              >
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </td>
            <td>
              <input
                class="form-control"
                placeholder="ex : Assassination, Assas"
                [(ngModel)]="newEvent.labels[i]"
                name="label[{{ i }}]"
                #type="ngModel"
                required="true"
              />
            </td>
          </tr>
        </table>

        <small
        *ngIf="invalidLabels(newEvent)"
          class="form-text text-muted text-danger"
          >*Labels are obligatory</small
        >
      </div>
    </div>

    <!-- Background Color -->
    <div class="form-group col-xs-1">
      <input
        class="form-control form-color"
        type="color"
        [(ngModel)]="newEvent.bgColor"
        name="bgColor"
        #type="ngModel"
        required="true"
      />
      <small
        *ngIf="newEvent.bgColor == '' || newEvent.bgColor == null"
        class="form-text text-muted text-danger"
        >*Color is obligatory</small
      >
    </div>

    <!-- Border Color -->
    <div class="form-group col-xs-1">
      <input
        class="form-control form-color"
        type="color"
        [(ngModel)]="newEvent.borderColor"
        name="borderColor"
        #type="ngModel"
        required="true"
      />
      <small
        *ngIf="newEvent.borderColor == '' || newEvent.borderColor == null"
        class="form-text text-muted text-danger"
        >*Color is obligatory</small
      >
    </div>

    <!-- Arcs -->
    <div class="form-group col-xs-5">
      <table style="width: 100%;">
        <tr *ngFor="let arc of newEvent.arcs; let i = index; trackBy: trackBy">
          <!-- Actions -->
          <td>
            <button
              *ngIf="i == 0"
              type="submit"
              class="btn btn-success"
              (click)="addArc(newEvent)"
              [disabled]="isInvalidArc(newEvent.arcs[0])"
            >
              <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button
              *ngIf="i > 0"
              type="submit"
              class="btn btn-danger"
              (click)="removeArc(newEvent, i)"
            >
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          </td>

          <!-- Type -->
          <td class="col-xs-4">
            <input
              class="form-control"
              placeholder="ex : Perpetrator"
              [(ngModel)]="arc.type"
              name="newArc[{{ i }}]"
              #type="ngModel"
              required="true"
            />
            
          </td>

          <!-- Labels -->
          <td class="col-xs-5">
            <table style="width: 100%; margin-bottom: 15px;">
              <tr
                *ngFor="
                  let label of arc.labels;
                  let j = index;
                  trackBy: trackBy
                "
              >
                <td>
                  <button
                    *ngIf="j == 0"
                    type="submit"
                    class="btn btn-success"
                    (click)="addArcLabel(arc)"
                    [disabled]="arc.labels[0] == '' || arc.labels[0] == null"
                  ><span class="glyphicon glyphicon-plus"></span></button>
                  <button
                    *ngIf="j > 0"
                    type="submit"
                    class="btn btn-danger"
                    (click)="removeArcLabel(arc, j)"
                  >
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
                </td>
                <td>
                  <input
                    class="form-control"
                    placeholder="ex : Assassination, Assas"
                    [(ngModel)]="arc.labels[j]"
                    name="label[{{ i }}]-[{{ j }}]"
                    #type="ngModel"
                    required="true"
                  />
                </td>
              </tr>
            </table>
          </td>

          <!-- Color -->
          <td class="col-xs-3">
            <input
              class="form-control form-color"
              type="color"
              [(ngModel)]="arc.color"
              name="newColor[{{ i }}]"
              #type="ngModel"
              required="true"
            />
          </td>
        </tr>
      </table>
      <small
        *ngIf="isInvalidArcs(newEvent)"
          class="form-text text-muted text-danger"
          >*Arcs are obligatory</small
        >
    </div>
  </form>
</div>

<!-- List -->
<div
  class="container-fluid"
  *ngFor="let event of project.events; let i = index"
>
  <div class="col-xs-12" style="border-top: 1px solid darkgrey; margin-bottom: 15px;"></div>
  <form class="row entity-row">
    <!-- Actions -->
    <div class="form-group col-xs-1">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="save(i)"
        [disabled]="eventsData[i].error"
        style="margin-right: 2px;"
      >
        <span class="glyphicon glyphicon-floppy-disk"></span>
      </button>
      <button type="submit" class="btn btn-danger" (click)="remove(i)">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <br />
      <small
        *ngIf="isValid(event, eventsData[i], i)"
        class="form-text text-muted text-danger"
        >{{ eventsData[i].message }}</small
      >
    </div>

    <!-- Type -->
    <div class="form-group col-xs-2">
      <input
        class="form-control"
        placeholder="ex : Assassination"
        [(ngModel)]="event.type"
        name="type"
        #type="ngModel"
        required="true"
      />
      <small
        *ngIf="event.type == '' || event.type == null"
        class="form-text text-muted text-danger"
        >*Type is obligatory</small
      >
    </div>

    <!-- Labels -->
    <div class="form-group col-xs-2">
      <div>
        <table style="width: 100%;">
          <tr
            *ngFor="let label of event.labels; let j = index; trackBy: trackBy"
          >
            <td>
              <button
                *ngIf="j == 0"
                type="submit"
                class="btn btn-success"
                (click)="addLabel(event)"
                [disabled]="invalidLabels(event)"
                name="invalid-btn"
                [disabled]="label == '' || label == null"
              >
                <span class="glyphicon glyphicon-plus"></span>
              </button>
              <button
                *ngIf="j > 0"
                type="submit"
                class="btn btn-danger"
                (click)="removeLabel(event, j)"
              >
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </td>
            <td>
              <input
                class="form-control"
                placeholder="ex : Assassination, Assas"
                [(ngModel)]="event.labels[j]"
                name="label[{{ j }}]"
                #type="ngModel"
                required="true"
              />
            </td>
          </tr>
        </table>

        <small
          *ngIf="invalidLabels(event)"
          class="form-text text-muted text-danger"
          >*Labels are obligatory</small
        >
      </div>
    </div>

    <!-- Background Color -->
    <div class="form-group col-xs-1">
      <input
        class="form-control form-color"
        type="color"
        [(ngModel)]="event.bgColor"
        name="bgColor"
        #type="ngModel"
        required="true"
      />
      <small
        *ngIf="event.bgColor == '' || event.bgColor == null"
        class="form-text text-muted text-danger"
        >*Color is obligatory</small
      >
    </div>

    <!-- Border Color -->
    <div class="form-group col-xs-1">
      <input
        class="form-control form-color"
        type="color"
        [(ngModel)]="event.borderColor"
        name="borderColor"
        #type="ngModel"
        required="true"
      />
      <small
        *ngIf="event.borderColor == '' || event.borderColor == null"
        class="form-text text-muted text-danger"
        >*Color is obligatory</small
      >
    </div>

    <!-- Arcs -->
    <div class="form-group col-xs-5">
        <table style="width: 100%;">
          <tr *ngFor="let arc of event.arcs; let j = index; trackBy: trackBy">
            <!-- Actions -->
            <td>
              <button
                *ngIf="j == 0"
                type="submit"
                class="btn btn-success"
                (click)="addArc(event)"
                [disabled]="isInvalidArc(event.arcs[0])"
              >
                <span class="glyphicon glyphicon-plus"></span>
              </button>
              <button
              *ngIf="j > 0"
              type="submit"
              class="btn btn-danger"
              (click)="removeArc(event, j)"
            >
              <span class="glyphicon glyphicon-minus"></span>
            </button>
            </td>
  
            <!-- Arcs Type -->
            <td class="col-xs-4">
              <input
                class="form-control"
                placeholder="ex : Perpetrator"
                [(ngModel)]="arc.type"
                name="newArc[{{ j }}]"
                #type="ngModel"
                required="true"
              />
            </td>
  
            <!-- Arcs Labels -->
            <td class="col-xs-5">
              <table style="width: 100%; margin-bottom: 15px;">
                  <tr
                    *ngFor="
                      let label of arc.labels;
                      let k = index;
                      trackBy: trackBy
                    "
                  >
                  <td>
                    <button
                      *ngIf="k == 0"
                      type="submit"
                      class="btn btn-success"
                      (click)="addArcLabel(arc)"
                      [disabled]="arc.labels[0] == '' || arc.labels[0] == null"
                    ><span class="glyphicon glyphicon-plus"></span></button>
                    <button
                      *ngIf="k > 0"
                      type="submit"
                      class="btn btn-danger"
                      (click)="removeArcLabel(arc, k)"
                    >
                      <span class="glyphicon glyphicon-minus"></span>
                    </button>
                  </td>
                  <td>
                    <input
                      class="form-control"
                      placeholder="ex : Assassination, Assas"
                      [(ngModel)]="arc.labels[k]"
                      name="label[{{ j }}]-[{{ k }}]"
                      #type="ngModel"
                      required="true"
                    />
                  </td>
                </tr>
              </table>
            </td>
  
            <!-- Arcs Color -->
            <td class="col-xs-3">
              <input
                class="form-control form-color"
                type="color"
                [(ngModel)]="arc.color"
                name="newColor[{{ j }}]"
                #type="ngModel"
                required="true"
              />
            </td>
          </tr>
        </table>
        <small
        *ngIf="isInvalidArcs(event)"
          class="form-text text-muted text-danger"
          >*Arcs are obligatory</small
        >
      </div>
  </form>
</div>
