<main flex>
  <div class="titre">
  <h2>Vous êtes connectés au projet <strong>{{Cuprojet}}</strong> cree par {{Admprojet}}</h2>
  </div>
<!-- Colonne associee au corpus-->
<div class="column">
  <mat-card >
    <mat-toolbar><h3>Corpus</h3></mat-toolbar>
    <mat-nav-list color="primary" >
       <div *ngFor="let corpus of Cprojet | async">
        <mat-list-item (click)="selectTitle(corpus)">
        <a matLine [routerLink]="['/annotation']">{{corpus.title}}</a>
           <mat-chip-list *ngIf="isAdmin()">
             <mat-chip (click)="delete(corpus.id,corpus.database)" color="warn" selected="true">supprimer</mat-chip>
           </mat-chip-list>
     </mat-list-item>
     <mat-divider></mat-divider>
   </div>
   </mat-nav-list>
   <p *ngIf="isAdmin()">
     <button mat-raised-button (click)="openCorpusDialog()">Ajouter un texte</button>
   </p>
 </mat-card >
</div>