.column {
  float: left;
  width: 33%;
  height: 80%;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

main {
  overflow-y: auto;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.matListItemHover:hover {
  background-color: darkcyan;
  cursor: pointer;
}
