<main flex>

  <div style="padding-left: 10px; padding-right: 10px;">
    <h3>Projet : {{currentProject.titre}}</h3>
  </div>

  <!--<mat-form-field>
    <input matInput placeholder="Titre du projet" [(ngModel)]="currentProject.titre" name="titre" #titre="ngModel" required />
    <mat-error *ngIf="titre.value == '' || titre.value == null">Titre du projet obligatoire</mat-error>
  </mat-form-field>-->

  <div style="padding-left: 10px; padding-right: 10px;">
      <h3 style="display:inline-block">Description : </h3>

      <mat-form-field style="display:inline-block">
        <textarea matInput [(ngModel)]="currentProject.description" name="description" #description="ngModel" required></textarea>
        <mat-error *ngIf="description.value == '' || description.value == null">Description du projet obligatoire</mat-error>
      </mat-form-field>
  </div>

  <!--Section pour les textes (corpus)-->
  <div class="column">
    <mat-card>
      <mat-list role="list">
        <mat-toolbar><h3>Corpus</h3></mat-toolbar>
        <!--<h3 matLine>Corpus</h3>-->
        <mat-list-item *ngFor="let item of corpusList">{{item.titre}}</mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <br />
      <button class="btn btn btn-primary" (click)="addCorpusDialogBox()">Ajouter un texte</button>
    </mat-card>
  </div>

  <div class="column">
    <!--Section catégories-->
    <mat-card>
      <mat-list role="list">
        <mat-toolbar><h3>Catégories</h3></mat-toolbar>
        <!--<h3 matLine>Catégories</h3>-->
        <mat-list-item *ngFor="let item of categorylist" [ngStyle]="{'background-color': item.couleur}">{{item.nom}}</mat-list-item>
      </mat-list>
      <mat-divider></mat-divider>
      <br />
      <button class="btn btn btn-primary" (click)="addCategorieDialogBox()">Ajouter une catégorie</button>
    </mat-card>
  </div>

  <div class="column">
    <mat-card>
      <mat-toolbar><h3>Annotateurs</h3></mat-toolbar>
    </mat-card>
  </div>

  <!--Button pour créer un projet-->


</main>

<div class="button-row" style="padding-left: 10px; padding-right: 10px;">
  <button class="btn btn-primary" (click)="saveProjectModification()">Sauvegarder</button>
  <button class="btn btn btn-primary" [routerLink]="['']">Cancel</button>
</div>
