.container-project {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding-left: 9px;
}

.card-header-project {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-list-project {
  max-height: 400px;
  overflow-y: auto;
}


.mat-list-item button {
  visibility: hidden;
}

.mat-list-item:hover button {
  visibility: visible;
}

.item-project {
  flex-grow: 1;
  margin: 15px;
}

main {
  overflow-y: auto;
  padding: 32px;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.matListItemHover:hover {
  background-color: #eee;
  cursor: pointer;
}

.project-form{
  margin: auto;
  width: 50%;
  
  mat-form-field, input, textarea{
    width: 100%;
  }
}



/* Fix for the alignment of Description textarea title */
textarea[name=description]{
  vertical-align: top;
  resize: both;
}

@media(max-width: 767px){
  .project-form{
	width: 80vw;
  }
}