<main flex *ngIf="isDataLoaded">

  <div style="padding-left: 10px; padding-right: 10px;">
    <h3 style="display:inline-block">Project: </h3>
    <mat-form-field>
      <input matInput [ngModel]="currentProject.title" (ngModelChange)="currentProject.title = $event" name="titre" #titre="ngModel"
        required />
      <mat-error *ngIf="titre.value == '' || titre.value == null">Project title is required</mat-error>
    </mat-form-field>
  </div>


  <div style="padding-left: 10px; padding-right: 10px;">
    <h3 style="display:inline-block">Description: </h3>

    <mat-form-field style="display:inline-block">
      <textarea matInput [ngModel]="currentProject.description" (ngModelChange)="currentProject.description = $event" name="description"
        #description="ngModel" required>
      </textarea>
      <mat-error *ngIf="currentProject.description.value == '' || currentProject.description.value == null">Project description is required</mat-error>
    </mat-form-field>
  </div>

  <!--Section pour les textes (corpus)-->
  <div class="column">
    <mat-card>
      <mat-toolbar style="display: flex">
        <span>Corpus</span>
        <span class="example-fill-remaining-space"></span>
        <span>
          <button class="btn btn btn-primary" (click)="addCorpusDialogBox()">+</button>
        </span>
      </mat-toolbar>
      <mat-list *ngFor="let item of corpus | async">
        <mat-list-item>
          <span class="matListItemHover" (click)="corpusSelected(item)">{{item?.title}}</span>
          <span class="example-fill-remaining-space"></span>
          <span>
            <button class="btn btn-primary" (click)="deleteCorpus(item)">Delete</button>
          </span>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>

  <!--Section categories-->
  <div class="column">
    <mat-card>
      <mat-toolbar style="display: flex">
        <span>Categories</span>
        <span class="example-fill-remaining-space"></span>
        <span>
          <button class="btn btn btn-primary" (click)="addCategorieDialogBox()">+</button>
        </span>
      </mat-toolbar>
      <mat-list>
        <mat-list-item *ngFor="let item of currentProject.categories" [ngStyle]="{'background-color': item?.color}">
          <span>{{item?.name}}</span>
          <span class="example-fill-remaining-space"></span>
          <span>
            <button class="btn btn-primary" (click)="deleteCategory(item.name)">Delete</button>
          </span>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>

  <!--Section annotators-->
  <div class="column">
    <mat-card>
      <mat-toolbar style="display: flex">
        <span>Annotators</span>
        <span class="example-fill-remaining-space"></span>
        <span>
          <button class="btn btn btn-primary" (click)="addAnnotatorDialogBox()">+</button>
        </span>
      </mat-toolbar>
      <mat-list role="list">
        <mat-list-item *ngFor="let item of annotators">
          <span>{{item.email}}</span>
          <span class="example-fill-remaining-space"></span>
          <span>
            <button class="btn btn-primary" (click)="deleteAnnotator(item.uid)">Delete</button>
          </span>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>

  <!--Section admin-->
  <div class="column">
    <mat-card>
      <mat-toolbar style="display: flex">
        <span>Administrators</span>
        <span class="example-fill-remaining-space"></span>
        <span>
          <button class="btn btn btn-primary" (click)="addAdminDialogBox()">+</button>
        </span>
      </mat-toolbar>
      <mat-list role="list">
        <mat-list-item *ngFor="let item of admin">
          <span>{{item.email}}</span>
          <span class="example-fill-remaining-space"></span>
          <span>
            <button class="btn btn-primary" (click)="deleteAdmin(item.uid)">Delete</button>
          </span>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
</main>

<!--Button pour sauvegarder on annuler les modifications-->
<div class="button-row" style="padding-left: 10px; padding-right: 10px;">
  <button class="btn btn-primary" (click)="saveProjectModification()">Save</button>
  <button class="btn btn btn-primary" [routerLink]="['']">Cancel</button>
</div>
