<div class="col-md-12">
  <h2 mat-dialog-title>Modification de l'utilisateur</h2>
  <form name="form" #f="ngForm" novalidate>
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" class="form-control" name="firstname" [(ngModel)]="data.firstname" #firstname="ngModel"
        required />
      <div *ngIf="f.submitted && !firstname.valid" class="help-block">First name is required</div>
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" name="lastname" [(ngModel)]="data.lastname" #lastname="ngModel" required />
    </div>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="data.email" #email="ngModel" />
    </div>
    <mat-form-field>
      <mat-select [(value)]="data.role" name="role">
        <mat-option *ngFor="let role of data.roles" [value]="role.value">
          {{role.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary" [mat-dialog-close]="data">Sauvegarder</button>
      <button class="btn btn btn-primary" mat-dialog-close>Cancel</button>
    </div>
  </form>
</div>