<!-- La vue associée à la connexion d’un utilisateur.
     Le composant affiche des messages de validation pour les champs non valides
     lorsque qu’un usager clique sur le bouton de connexion.
-->

<div class="col-md-6 col-md-offset-3">
  <h2>Login</h2>
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
      <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Login</button>
      <a [routerLink]="['/register']" class="btn btn-link">Register</a>
    </div>
  </form>
</div>


<div>
  <h4>Connect with social media:</h4>
  <div style="float: left;">
    <a (click)="facebookLogin()" routerLink="/inscription" routerLinkActive="active" style="display:inline-block;width:40px;height:40px;text-indent:-10000px;border:4px solid #fff;margin: 0 10px 0 0;background-image:url(./assets/flat_facebook32x32.png)">
      Facebook
    </a>
    <a (click)="googleLogin()"   routerLink="/inscription" routerLinkActive="active" style="display:inline-block;width:40px;height:40px;text-indent:-10000px;border:4px solid #fff;margin: 0 10px 0 0;background-image:url(./assets/flat_googleplus32x32.png)">
      Google Plus
    </a>
    <a (click)="twitterLogin()"  routerLink="/inscription" routerLinkActive="active" style="display:inline-block;width:40px;height:40px;text-indent:-10000px;border:4px solid #fff;margin: 0 10px 0 0;background-image:url(./assets/flat_twitter32x32.png)">
      Twitter
    </a>
  </div>
</div>
