<!-- Title -->
<h1>Entity Attribute Types :</h1>

<!-- Labels -->
<div class="container-fluid">
  <div class="col-xs-2"><label for="new-type">Action:</label></div>
  <div class="col-xs-3"><label for="new-type">Type:</label></div>
  <div class="col-xs-3"><label for="new-type">Glyph:</label></div>
  <div class="col-xs-3"><label for="new-type">Entity:</label></div>
  <div class="col-xs-12" style="border-top: 1px solid darkgrey; margin-bottom: 15px;"></div>
</div>

<!-- Input -->
<div class="container-fluid">
  <form class="row">
    <!-- Actions -->
    <div class="form-group col-xs-2">
        <button
        type="submit"
        class="btn btn-success"
        (click)="create()"
        [disabled]="attributeData.error"
      >
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <button
        type="submit"
        class="btn btn-warning"
        (click)="reset()"
        style="margin-right: 2px;"
      >
        <span class="glyphicon glyphicon-refresh"></span>
      </button>
      <br />
      <small
        *ngIf="isValid(newAttribute, attributeData, -1)"
        class="form-text text-muted text-danger"
        >{{ attributeData.message }}</small
      >
    </div>

    <!-- Type -->
    <div class="form-group col-xs-3">
      <input
        class="form-control"
        placeholder="Type (ex : Notorious)"
        [(ngModel)]="newAttribute.type"
        name="type"
        #type="ngModel"
        required="true"
      />
      <small
        *ngIf="newAttribute.type == '' || newAttribute.type == null"
        class="form-text text-muted text-danger"
        >*Type is obligatory</small
      >
    </div>

    <!-- Glyphs -->
    <div class="form-group col-xs-3">
      <div>
        <table style="width: 100%;">
          <tr *ngFor="
          let glyph of newAttribute.values;
          let i = index;
          trackBy: trackBy
        ">
        <td>
            <button
            *ngIf="i == 0"
            type="submit"
            class="btn btn-success"
            (click)="addGlyph(newAttribute)"
            [disabled]="glyph.glyph === '' || glyph.glyph === null"
          >
            <span class="glyphicon glyphicon-plus"></span>
          </button>
            <button
            *ngIf="i > 0"
              type="submit"
              class="btn btn-danger"
              (click)="removeGlyph(newAttribute, i)"
            >
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          </td>
          <td>
            <select
            class="form-control"
            placeholder="Glyph (ex : ★)"
            [(ngModel)]="newAttribute.values[i].glyph"
            name="glyph[{{ i }}]"
            #type="ngModel"
            required="true"
          >
          <option value="" disabled selected hidden>Glyph (ex : ★)</option>
            <option
              *ngFor="
                let glyph of glyphs;
                let j = index;
                trackBy: trackBy
              "
              value="{{ glyph }}"
              style="font-size:x-large"
              >{{ glyph }}</option
            >
          </select>
        </td>
        </tr>
        </table>
        <small
          *ngIf="invalidGlyphs(newAttribute)"
          class="form-text text-muted text-danger"
          >*Glyphs are obligatory</small
        >
      </div>
    </div>

    <!-- Entity -->
    <div class="form-group col-xs-3">
      <div>
        <table style="width: 100%;">
          <tr
            *ngFor="
              let entity of newAttribute.entities;
              let i = index;
              trackBy: trackBy
            "
          >
            <td>
                <button
                *ngIf="i == 0"
                type="submit"
                class="btn btn-success"
                (click)="addEntity(newAttribute)"
                [disabled]="invalidEntities(newAttribute)"
              ><span class="glyphicon glyphicon-plus"></span>
              </button>
              <button
              *ngIf="i > 0"
                type="submit"
                class="btn btn-danger"
                (click)="removeEntity(newAttribute, i)"
              ><span class="glyphicon glyphicon-minus"></span>
              </button>
            </td>
            <td>
              <select
                class="form-control"
                placeholder=""
                [(ngModel)]="newAttribute.entities[i]"
                name="new entity[{{ i }}]"
                #type="ngModel"
                required="true"
              >
                <option
                  *ngFor="
                    let ent of getEntitiesWithSelf(newAttribute, i);
                    let j = index;
                    trackBy: trackBy
                  "
                  value="{{ ent }}"
                  >{{ ent }}</option
                >
                <option value="" disabled selected hidden>ex : Person</option>
              </select>
            </td>
          </tr>
        </table>
        <small
          *ngIf="invalidEntities(newAttribute)"
          class="form-text text-muted text-danger"
          >*Entities are obligatory</small
        >
      </div>
    </div>
  </form>
</div>

<!-- List -->
<div
  class="container-fluid"
  *ngFor="let attribute of project.attributes; let i = index; trackBy: trackBy"
>
  <div class="col-xs-12" style="border-top: 1px solid darkgrey; margin-bottom: 15px;"></div>
  <form class="row entity-row">
    <!-- Actions -->
    <div class="form-group col-xs-2">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="save(i)"
        [disabled]="attributesData[i].error"
        style="margin-right: 2px;"
      >
        <span class="glyphicon glyphicon-floppy-disk"></span>
      </button>
      <button type="submit" class="btn btn-danger" (click)="remove(i)">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <br />
      <small
        *ngIf="isValid(attribute, attributesData[i], i)"
        class="form-text text-muted text-danger"
        >{{ attributesData[i].message }}</small
      >
    </div>

    <!-- Type -->
    <div class="form-group col-xs-3">
      <input
        class="form-control"
        placeholder="Type (ex : Notorious)"
        [(ngModel)]="attribute.type"
        name="type"
        #type="ngModel"
        required="true"
      />
      <small
        *ngIf="attribute.type == '' || attribute.type == null"
        class="form-text text-muted text-danger"
        >*Type is obligatory</small
      >
    </div>

    <!-- Glyphs -->
    <div class="form-group col-xs-3">
      <div>
        <table style="width: 100%;">
          <tr
            *ngFor="
              let glyph of attribute.values;
              let j = index;
              trackBy: trackBy
            "
          >
            <td>
                <button
                *ngIf="j == 0"
                type="submit"
                class="btn btn-success"
                (click)="addGlyph(attribute)"
                [disabled]="glyph.glyph === '' || glyph.glyph === null"
              >
                <span class="glyphicon glyphicon-plus"></span>
              </button>
                <button
                *ngIf="j > 0"
                  type="submit"
                  class="btn btn-danger"
                  (click)="removeGlyph(attribute, j)"
                >
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
            </td>
            <td>

                <select
                class="form-control"
                placeholder="Glyph (ex : ★)"
                [(ngModel)]="attribute.values[j].glyph"
                name="glyph[{{i}}][{{ j }}]"
                #type="ngModel"
                required="true"
              >
              <option value="" disabled selected hidden>Glyph (ex : ★)</option>
                <option
                  *ngFor="
                    let glyph of glyphs;
                    let k = index;
                    trackBy: trackBy
                  "
                  value="{{ glyph }}"
                  style="font-size:x-large"
                  >{{ glyph }}</option
                >
              </select>
            </td>
          </tr>
        </table>

        <small
          *ngIf="invalidGlyphs(attribute)"
          class="form-text text-muted text-danger"
          >*Glyphs are obligatory</small
        >
      </div>
    </div>

    <!-- Entity -->
    <div class="form-group col-xs-3">
      <div>
        <table style="width: 100%;">
          <tr
            *ngFor="
              let entity of attribute.entities;
              let j = index;
              trackBy: trackBy
            "
          >
            <td>
                <button
                *ngIf="j == 0"
                type="submit"
                class="btn btn-success"
                (click)="addEntity(attribute)"
                [disabled]="invalidEntities(attribute)"
              >
                <span class="glyphicon glyphicon-plus"></span>
              </button>
              <button
                *ngIf="j > 0"
                type="submit"
                class="btn btn-danger"
                (click)="removeEntity(attribute, j)"
              >
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </td>
            <td>
              <select
                class="form-control"
                placeholder="ex : Person"
                [(ngModel)]="attribute.entities[j]"
                name="new entity[{{ j }}]"
                #type="ngModel"
                required="true"
              >
                <option
                  *ngFor="
                    let ent of getEntitiesWithSelf(attribute, j);
                    let k = index;
                    trackBy: trackBy
                  "
                  value="{{ ent }}"
                  >{{ ent }}</option
                >
                <option value="" disabled selected hidden>ex : Person</option>
              </select>
            </td>
          </tr>
        </table>
        <small
          *ngIf="invalidEntities(attribute)"
          class="form-text text-muted text-danger"
          >*Entities are obligatory</small
        >
      </div>
    </div>
  </form>
</div>
