<main>

  <div class="column">

    <mat-form-field>
      <input matInput placeholder="Titre du projet" [(ngModel)]="projet.titre" name="titre" #titre="ngModel" required/>
      <mat-error *ngIf="titre.value == '' || titre.value == null">Titre du projet obligatoire</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description" [(ngModel)]="projet.description"name="description" #description="ngModel" required></textarea>
      <mat-error *ngIf="description.value == '' || description.value == null">Description du projet obligatoire</mat-error>
    </mat-form-field>

    <!--Section pour les textes (corpus)-->
    <div>
      <mat-list role="list">
        <h3 matLine>Corpus</h3>
        <mat-list-item *ngFor="let item of corpusList">{{item.titre}}</mat-list-item>
      </mat-list>
      <button class="btn btn btn-primary" (click)="addCorpusDialogBox()">Ajouter un texte</button>
    </div>

    <br>
    <mat-divider [inset]="true"></mat-divider>
    <br>

    <!--Button pour créer un projet-->
    <div class="button-row">
      <button [routerLink]="['/createProject']" (click)="create()" class="btn btn-primary">Créer</button>
    </div>
  </div>

  <!--Section catégories-->
  <div class="column">
    <mat-list role="list">
      <h3 matLine>Catégories</h3>
      <mat-list-item *ngFor="let item of categorylist" [ngStyle]="{'background-color': item.couleur}">{{item.nom}}</mat-list-item>
    </mat-list>

    <br>
    <button class="btn btn btn-primary" (click)="addCategorieDialogBox()">Ajouter une catégorie</button>
  </div>

</main>
