/*
example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 50%;
}
.mat-button{
  margin-left: 5px;

}
.barre{
  width:30%;
  margin-left: 5px;
}
.button {padding: 10px 2px;}

.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    border-radius: 2px;
    width: 60%;

}
*/