<div>
  <mat-card>
    <h2>Projects of {{currentUser.email}} </h2>
  </mat-card>

  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let project"> {{project.title}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="admin">
        <mat-header-cell *matHeaderCellDef> Admin </mat-header-cell>
        <mat-cell *matCellDef="let project">
          <mat-checkbox matInput
            (change)="$event ? changeAdmin(project.id, currentUser.uid, $event.checked) : null"
            [checked]="isAdmin(project)"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="annotator">
        <mat-header-cell *matHeaderCellDef> Annotator </mat-header-cell>
        <mat-cell *matCellDef="let project">
          <mat-checkbox matInput
            (change)="$event ? changeAnnotator(project.id, currentUser.uid, $event.checked) : null"
            [checked]="isAnnotator(project)"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="modify">
        <mat-header-cell *matHeaderCellDef> Modify / Delete </mat-header-cell>
        <mat-cell *matCellDef="let project">
          <button class="btn btn-primary" (click)="modifyProject(project)">Modify</button>
          <button class="btn btn-primary" (click)="deleteProject(project)">Delete</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
