<!-- Title -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12"><h3>Relation Types</h3></div>
  </div>
</div>

<!-- Labels -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2"><label for="new-type">Action:</label></div>
    <div class="col-xs-2"><label for="new-type">Type:</label></div>
    <div class="col-xs-3"><label for="new-type">Labels:</label></div>
    <div class="col-xs-1"><label for="new-type">DashArray:</label></div>
    <div class="col-xs-2"><label for="new-type">Role:</label></div>
    <div class="col-xs-2"><label for="new-type">Target:</label></div>
  </div>
</div>

<!-- Input -->
<div class="container-fluid">
  <form class="row">
    <!-- Actions -->
    <div class="form-group col-xs-2">
      <button
        type="submit"
        class="btn btn-warning"
        (click)="reset()"
        style="margin-right: 2px;"
      >
        <span class="glyphicon glyphicon-refresh"></span>
      </button>
      <button
        type="submit"
        class="btn btn-success"
        (click)="create()"
        [disabled]="relationData.error"
      >
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <br />
      <small
        *ngIf="isValid(newRelation, relationData, -1)"
        class="form-text text-muted text-danger"
        >{{ relationData.message }}</small
      >
    </div>

    <!-- Type -->
    <div class="form-group col-xs-2">
      <input
        class="form-control"
        placeholder="ex : Anaphora"
        [(ngModel)]="newRelation.type"
        name="type"
        #type="ngModel"
        required="true"
      />
      <small
        *ngIf="newRelation.type == '' || newRelation.type == null"
        class="form-text text-muted text-danger"
        >*Type is obligatory</small
      >
    </div>

    <!-- Labels -->
    <div class="form-group col-xs-3">
      <div>
        <table style="width: 100%;">
          <!-- Defined Labels -->
          <tr *ngFor="let label of newRelation.labels; let i = index">
            <td>
              <button
                type="submit"
                class="btn btn-danger"
                (click)="removeLabel(newRelation, i)"
              >
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </td>
            <td>
              <input
                class="form-control"
                placeholder="ex : Anaphora, Ana"
                [(ngModel)]="label"
                name="label"
                #type="ngModel"
                required="true"
              />
            </td>
          </tr>
          <!-- New Label -->
          <tr>
            <td>
              <button
                type="submit"
                class="btn btn-success"
                (click)="addLabel(newRelation, relationData)"
                [disabled]="isInvalidLabel(relationData)"
              >
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </td>
            <td>
              <input
                class="form-control"
                placeholder="ex : Anaphora, Ana"
                [(ngModel)]="relationData.label"
                name="label"
                #type="ngModel"
                required="true"
              />
            </td>
          </tr>
        </table>

        <small
          *ngIf="newRelation.labels == '' || newRelation.labels == null"
          class="form-text text-muted text-danger"
          >*Labels are obligatory</small
        >
      </div>
    </div>

    <!-- DashArray -->
    <div class="form-group col-xs-1">
      <input
        class="form-control"
        placeholder="3,3"
        [(ngModel)]="newRelation.type"
        name="type"
        #type="ngModel"
        required="true"
      />
      <small
        *ngIf="newRelation.type == '' || newRelation.type == null"
        class="form-text text-muted text-danger"
        >*Type is obligatory</small
      >
    </div>

    <!-- Args : Role -->
    <div class="form-group col-xs-2">
      <input
        class="form-control"
        placeholder="3,3"
        [(ngModel)]="newRelation.type"
        name="type"
        #type="ngModel"
        required="true"
      />
      <small
        *ngIf="newRelation.type == '' || newRelation.type == null"
        class="form-text text-muted text-danger"
        >*Type is obligatory</small
      >
      <br />
      <input
        class="form-control"
        placeholder="3,3"
        [(ngModel)]="newRelation.type"
        name="type"
        #type="ngModel"
        required="true"
      />
      <small
        *ngIf="newRelation.type == '' || newRelation.type == null"
        class="form-text text-muted text-danger"
        >*Type is obligatory</small
      >
    </div>

    <!-- Args : Targets -->
    <div class="form-group col-xs-2">
      <input
        class="form-control"
        placeholder="3,3"
        [(ngModel)]="newRelation.type"
        name="type"
        #type="ngModel"
        required="true"
      />
      <small
        *ngIf="newRelation.type == '' || newRelation.type == null"
        class="form-text text-muted text-danger"
        >*Type is obligatory</small
      >
      <br />
      <input
        class="form-control"
        placeholder="3,3"
        [(ngModel)]="newRelation.type"
        name="type"
        #type="ngModel"
        required="true"
      />
      <small
        *ngIf="newRelation.type == '' || newRelation.type == null"
        class="form-text text-muted text-danger"
        >*Type is obligatory</small
      >
    </div>
  </form>
</div>

<!-- List -->
<div
  class="container-fluid"
  *ngFor="let entity of project.entities; let i = index"
>
  <form class="row entity-row">
    <!-- Actions -->
    <div class="form-group col-xs-2">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="save(i)"
        [disabled]="entitiesData[i].error"
        style="margin-right: 2px;"
      >
        <span class="glyphicon glyphicon-floppy-disk"></span>
      </button>
      <button type="submit" class="btn btn-danger" (click)="remove(i)">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <br />
      <small
        *ngIf="isValid(entity, entitiesData[i], i)"
        class="form-text text-muted text-danger"
        >{{ entitiesData[i].message }}</small
      >
    </div>

    <!-- Type -->
    <div class="form-group col-xs-3">
      <input
        class="form-control"
        placeholder="Type (ex : Person)"
        [(ngModel)]="entity.type"
        name="type"
        #type="ngModel"
        required="true"
      />
      <small
        *ngIf="entity.type == '' || entity.type == null"
        class="form-text text-muted text-danger"
        >*Type is obligatory</small
      >
    </div>

    <!-- Labels -->
    <div class="form-group col-xs-3">
      <div>
        <table style="width: 100%;">
          <tr
            *ngFor="let label of entity.labels; let j = index; trackBy: trackBy"
          >
            <!-- Created Labels -->
            <td>
              <button
                type="submit"
                class="btn btn-danger"
                (click)="removeLabel(entity, j)"
              >
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </td>
            <td>
              <input
                class="form-control"
                placeholder="Labels (ex : Person, Per)"
                [(ngModel)]="entity.labels[j]"
                name="label[{{ j }}]"
                #type="ngModel"
                required="true"
              />
            </td>
          </tr>
          <!-- New Label -->
          <tr>
            <td>
              <button
                type="submit"
                class="btn btn-success"
                (click)="addLabel(entity, entitiesData[i])"
                [disabled]="isInvalidLabel(entitiesData[i])"
                name="invalid-btn"
              >
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </td>
            <td>
              <input
                class="form-control"
                placeholder="Labels (ex : Person, Per)"
                [(ngModel)]="entitiesData[i].label"
                name="newLabel"
                #type="ngModel"
                required="true"
              />
            </td>
          </tr>
        </table>

        <small
          *ngIf="entitiesData[i].label == '' || entitiesData[i].label == null"
          class="form-text text-muted text-danger"
          >*Labels are obligatory</small
        >
      </div>
    </div>

    <!-- Background Color -->
    <div class="form-group col-xs-2">
      <input
        class="form-control form-color"
        type="color"
        [(ngModel)]="entity.bgColor"
        name="bgColor"
        #type="ngModel"
        required="true"
      />
      <small
        *ngIf="entity.bgColor == '' || entity.bgColor == null"
        class="form-text text-muted text-danger"
        >*Color is obligatory</small
      >
    </div>

    <!-- Border Color -->
    <div class="form-group col-xs-2">
      <input
        class="form-control form-color"
        type="color"
        [(ngModel)]="entity.borderColor"
        name="borderColor"
        #type="ngModel"
        required="true"
      />
      <small
        *ngIf="entity.borderColor == '' || entity.borderColor == null"
        class="form-text text-muted text-danger"
        >*Color is obligatory</small
      >
    </div>
  </form>
</div>
