<div>
	<mat-card>
		<h2>Mes Projets</h2>
	</mat-card>

	<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="datasource">

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let project"> {{project.title}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let project"> {{project.description}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="modify">
        <mat-header-cell *matHeaderCellDef> Modify / Delete </mat-header-cell>
        <mat-cell *matCellDef="let project">
          <button class="btn btn-primary" (click)="modifyProject(project)">Modify</button>
          <button class="btn btn-primary" (click)="deleteProject(project)">delete</button>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
	</div>
</div>
