mat-card{
  min-width: 600px;
}

mat-row:hover {
  background-color: #eee;
  cursor: pointer;
}

mat-row button {
  margin-right: 16px;
}

mat-header-cell {
  font-size: 18px;
}

mat-cell{
  overflow: visible;
}

mat-header-cell, mat-cell{
  overflow: visible;
  padding: 5px 16px;

  &:first-child {
    padding-left:0;
  }

  &:last-child {
    padding-right: 0;
  }
}

@media(max-width: 767px){
  mat-card{
    min-width: 50%;
  }
}

.mat-column-description{
  white-space: pre-line;
}