<div class="container">
  <mat-card>
    <h2>List of projects</h2>
  </mat-card>

  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let project" [routerLink]="['/project', {id: project.id}]">
          {{project.title}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let project" [routerLink]="['/project', {id: project.id}]"> {{project.description}}
        </mat-cell>
      </ng-container>

      <ng-container *ngIf="isConnected" matColumnDef="modify">
        <mat-header-cell *matHeaderCellDef> Modify / Delete </mat-header-cell>
        <mat-cell *matCellDef="let project">
          <button class="btn btn-primary" (click)="modifyProject(project)">Modify</button>
          <button class="btn btn-primary" (click)="deleteProject(project)">Delete</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

</div>