<main flex>
  <div style="padding-left: 10px; padding-right: 10px;">
    <h3 style="display:inline-block">Project: </h3> {{currentProjectTitle}}<br />
    <h3 style="display:inline-block">Document: </h3> {{currentDoc?.title}}
    <p *ngIf="isConnected">To add an annotation, highlight the text and choose the category.</p>
    <mat-card>
      <div class="filtre-brat" ng-controller="AnnotationComponent" *ngIf="isDataLoaded">
        <mat-form-field>
          <mat-select id="filter-brat-filter" placeholder="Filter by..." [(ngModel)]="filterBrat.filter">
            <mat-option *ngFor="let item of filterOptions" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="filterBrat.filter == 'Entities'">
          <mat-select id="filter-brat-value" placeholder="Entity..." [(ngModel)]="filterBrat.value" (change)="customCSS()">
            <mat-option *ngFor="let item of project.entities" [value]="item.type">
              {{item.labels}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="filterBrat.filter == 'Events'">
          <mat-select id="filter-brat-value" placeholder="Event..." [(ngModel)]="filterBrat.value" (change)="customCSS()">
            <mat-option *ngFor="let item of project.events" [value]="item.type">
              {{item.labels}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div id="brat">
      </div>
      <div id="myText" style="display: none;">
      </div>
    </mat-card>
    <br />
  </div>

  <!--Section des boutons save et cancel-->
  <div *ngIf="isConnected" style="padding-left: 10px; padding-right: 10px;">
    <button class="btn btn-primary" (click)="saveTextModification()">Save</button>
    <button class="btn btn-primary" [routerLink]="['/project', {id:projectId}]">Cancel</button>
  </div>
</main>
